.verify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../../assets//backgroundy.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  header {
    text-align: center;
    img {
      width: 60%;
      margin-bottom: 30px;
    }
  }
  form {
    border-radius: 5px;
    background: #fff;
    padding: 10px 0px;
    height: 380px;
    width: 400px;
    box-shadow: 0px 8px 24px rgba(#1a1a1a, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    @media (min-width: 0px) {
      width: 340px;
    }
    @media (min-width: 450px) {
      width: 400px;
    }
    .title-form {
      text-align: center;
      p {
        font-size: 16px;
      }
      h2 {
        margin-top: 6px;
      }
    }
    .content-form {
      padding: 40px 40px;
      display: flex;
      flex-direction: column;

      p {
        text-align: center;
        margin-bottom: 10px;
      }
      .inputCode {
        border-bottom: 1px solid #805740;
        margin-bottom: 20px;
        width: 100%;
        padding: 15px;
        display: flex;
        i{
          color: rgba(#1a1a1a, 0.8);
        }
        input {
          margin-left: 10px;
          width: 100%;
        }
        ::placeholder {
          font-size: 14px;
        }
      }
      .error {
        color: red;
        font-size: 14px;
        height: 40px;
      }
      .btn-first {
        padding: 15px 0px;
        background: rgba(#805740, 1);
        border-radius: 5px;
        margin-top: 30px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(white, 0.2);
          opacity: 0;
          transition: all 0.5s ease-out;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(white, 0.2);
          opacity: 0;
          transition: all 0.4s ease-out;
        }
        &:hover {
          &::after {
            opacity: 1;
            transform: scaleX(0);
          }
          &::before {
            opacity: 1;
            transform: scaleY(0);
          }
        }
      }
    }
  }
  footer {
    a {
      color: black;
      cursor: pointer;
      font-size: 15px;
      &:hover {
        color: #805740;
        border-bottom: 1px solid #805740;
      }
    }
  }
}
