.ViewchangePass {
  position: fixed;
  top: 46%;
  left: 51.5%;
  transform: translateX(-50%) translateY(-50%);
  background: #f1f3f4;
  width: 39%;
  height: 375px;
  z-index: 999;
  border-radius: 4px;
  border: 1px solid rgba($color: gray, $alpha: 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .header {
    height: 10%;
    width: 100%;
    border-bottom: 1px solid rgba($color: gray, $alpha: 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    h2 {
      font-size: 20px;
      font-weight: bold;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
  .body {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    .currentPass {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      label {
        font-weight: bold;
        padding-bottom: 6px;
        i {
          margin-right: 6px;
        }
      }
      input {
        width: 300px;
        height: 30px;
        background: white;
        border: 1px solid rgba(black, 0.4);
        border-radius: 4px;
        padding-left: 8px;
      }
    }
    .newPass {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      label {
        font-weight: bold;
        padding-bottom: 6px;
        i {
          margin-right: 6px;
        }
      }
      input {
        width: 300px;
        height: 30px;
        background: white;
        border: 1px solid rgba(black, 0.4);
        border-radius: 4px;
        padding-left: 8px;
      }
    }
    .confirmNewPass {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;

      label {
        font-weight: bold;
        padding-bottom: 6px;
        i {
          margin-right: 6px;
        }
      }
      input {
        width: 300px;
        height: 30px;
        background: white;
        border: 1px solid rgba(black, 0.4);
        border-radius: 4px;
        padding-left: 8px;
      }
    }
    .error {
      color: red;
      font-size: 14px;
      padding-bottom: 30px;
    }
    .button {
      display: flex;
      justify-content: flex-end;
      .cancel {
        background: #805740;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        margin-right: 20px;
        position: relative;
        i {
          margin-right: 6px;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(white, 0.2);
          opacity: 0;
          transition: all 0.4s ease-out;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(white, 0.2);
          opacity: 0;
          transition: all 0.5s ease-out;
        }
        &:hover {
          &::after {
            opacity: 1;
            transform: scaleX(0);
          }
          &::before {
            opacity: 1;
            transform: scaleY(0);
          }
        }
      }
      .updated {
        background: #ffd149;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        cursor: not-allowed;
        position: relative;
        i {
          margin-right: 6px;
        }
        &.active {
          background: #ffd149;
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(white, 0.5);
            opacity: 0;
            transition: all 0.4s ease-out;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(white, 0.5);
            opacity: 0;
            transition: all 0.5s ease-out;
          }
          &:hover {
            &::after {
              opacity: 1;
              transform: scaleX(0);
            }
            &::before {
              opacity: 1;
              transform: scaleY(0);
            }
          }
        }
      }
    }
  }
}
